@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.error{
			color: #D8000C;
      font-size: 0.8rem;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
      margin-bottom: 10px;
      padding-left: 10px;
		}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
.register {
  
}

section .imagebx {
  position: relative;
  width: 50%;
  height: 100%;
}

section .imagebx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .contentbx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 1;
}

section .contentbx .formbx {
  color: #607d8b;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
}
section .contentbx .formbx .logo-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .contentbx .formbx .logo {
  margin-bottom: 20px;
  width: 140px;
  height: auto;
}
section .contentbx .formbx .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5da9a2;
  margin-bottom: 10px;
}
section .contentbx .formbx .inputbx {
  margin-bottom: 20px;
}

section .contentbx .formbx .inputbx span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
}

section .contentbx .formbx .inputbx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 15px;
}

section .contentbx .formbx .inputbx input[type="submit"] {
  background: #5da9a2;
  color: azure;
  cursor: pointer;
  margin-top: 10px;
}

section .contentbx .formbx .inputbx input[type="submit"]:hover {
  background: hsl(174, 39%, 57%);
  transition: 0.3s;
}

@media (max-width: 768px) {
  section .contentbx .formbx {
    width: 90%;
  }
  section .imagebx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
  section .contentbx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  section .contentbx .formbx {
    width: 100%;
    padding: 40px;
    margin: 50px;
  }
}

@media (max-width: 356px) {
  h2 {
    font-size: 1.7rem;
  }
}
