.logo {
    height: 50px;
    margin-right: 10px;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-brand {
    font-size: 1.7rem;
}
.nav-item {
    font-size: 1.4rem;
}

tr {
    cursor: pointer;
}

.active {
    color: black !important;
    background-color: rgb(214, 232, 222) !important;
}

.bord {
    border: 1px #5da9a2 solid;
    border-radius: 5px;
    margin-top: 50px;
}

.idk {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.date {
    color: hsl(43, 74%, 40%);
}

.secondcol {
    margin-top: 30px;
}
.row3 {
    width: 100%;
}
