.logo {
    height: 50px;
    margin-right: 10px;
}

.nav-link.active {
    color: black !important;
}
.nav-link {
    font-size: 1.4rem;
}

@media (max-width: 1420px) {
    .nav-link {
        font-size: 1rem;
        padding: 0 !important;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-brand {
    font-size: 1.7rem;
}
.nav-item {
    font-size: 1.4rem;
}

tr {
    cursor: pointer;
}

.bord {
    border: 1px #5da9a2 solid;
    border-radius: 5px;
    margin-top: 50px;
}

.idk {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.date {
    color: hsl(43, 74%, 40%);
}

.secondcol {
    margin-top: 30px;
}
.row3 {
    width: 100%;
}

.success {
    background-color: hsl(174, 31%, 70%) !important;
}
.danger {
    background-color: hsl(0, 31%, 70%) !important;
}

.width {
    width: 15px;
    padding: 2 !important;
}


.sticky-navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1030; /* Ensure it is above other elements */
}
